@model PhotoModel
@{
    ViewData["Title"] = "Photo-Index";
}

<h1>PhotoBoom</h1>
<br />
<br />
<p>Welcome to your favourite website.</p>
<br />
<br />
<a href="/Photo/List"><b><u>My Photos</u></b></a>
